<div class="footer-style">
<div class="container">
    <div class="row pt-2 pb-1">
        <div class="col-md-6 col-xs-12">
            <div></div>
          <div class="footer-copy">&copy; 2020-2022 <span [routerLink]="['/privacy']">Privacy Policy</span></div>        
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            <footer class="footer-links">
                <a href="https://twitter.com/DesignerRajibda">twitter</a> |
                <a href="https://www.linkedin.com/in/rajib-ganguly-0a3031a/?locale=es_ES">linkdin@RG</a> |
                <a href="https://www.linkedin.com/company/14435266/admin/" target="_blank">linkdin@w3</a> |
                <a href="https://w3earth.wordpress.com/">w3earth</a>
            </footer>
            
        </div>
    </div>
</div>
</div>