.glem {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index:6;
    
}
.social-med {
    position: fixed;
    top: 20%;
    left: 13px;
    font-size: 2rem;
    padding-left: 10px;
    z-index: 6;
    a {
        display:block; 
        color:#fff
    }
}
.bg-add {
    background: url(./../assets/images/w3earth-logo-bg.png) 0 -35px no-repeat;
    height:100%;
    
}