<div class="" *ngIf="firstTimeLanding">
  <div style="width: 100%;overflow: hidden;height: 100vh;">
  <h1 class="logo text-left glem">
    <a class="lgo p-2" (click)="enterApp()">
      <img src="./../assets/images/logo_dark.svg" alt="w3earth" style="width: 200px;">
    </a>
  </h1>
  <span class="social-med">
    <a href="https://twitter.com/DesignerRajibda" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://www.behance.net/w3earth" target="_blank">
      <i class="fa fa-behance" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/rajib-ganguly-0a3031a/?locale=es_ES" target="_blank">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/company/14435266/admin/" target="_blank">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a href="https://w3earth.wordpress.com/" target="_blank">
      <i class="fa fa-wordpress" aria-hidden="true"></i>
    </a>
    <a (click)="enterApp()" target="_blank" style="cursor:pointer">
      enter
      <!-- <i class="fa fa-sign-in" aria-hidden="true"></i> -->
    </a>
</span>
  <app-game ></app-game>  
</div>
  
</div>

<ng-template [ngIf]="!firstTimeLanding">
    <app-header></app-header>
    <router-outlet></router-outlet>   
    
    <app-footer></app-footer>
</ng-template>