<div class="topheader">
  <div class="topheader-bx">
    <nav class="navbar navbar-dark bg-dark-cust">
      <a class="navbar-brand" href="#" [routerLink]="['/home']">
        <img src="./../assets/images/logo_dark.svg" alt="w3earth" style="width: 150px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="navbarsMenuShow()"
        aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="navbar-collapse" *ngIf="navbarsw3">
        <ul class="navbar-nav mr-auto mt-4">
          <li>
            <div class="d-flex justify-content-between">
              <div *ngFor="let link of properties">            
                <a href="javascript:void();" title="{{link.title}}" (click)="pageShow(link.path)" class="text-uppercase">
                  <i class={{link.class}} aria-hidden="true" style="font-size:42px"></i>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="topheader-signin">
    <button class="btn btn-primary" type="button" [routerLink]="['/login']" >LOGIN</button>
  </div>
</div>
