.links-on-header {
    display: inline-block;
    li {
        float:left;
        padding: 0 1rem;
    }
}
.bg-dark-cust {
    background-color: rgba(255,255,255,0.05)!important;
}

.topheader {
    .topheader-signin {
        width: 55px;
        display: inline-block;
    }
    .topheader-bx {
        width: calc(100% - 60px);
        display: inline-block;
    }
}