<div class="container mt-4 mb-4">
	<div class="page-title"><i class="fa fa-address-card"></i> Contact</div> 
  
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <picture>
                <source media="(min-width:650px)" srcset="./../../../assets/images/nav/projects_wdg2.jpg">
                <source media="(min-width:465px)" srcset="./../../../assets/images/nav/projects_wdg2a.jpg">
                <img src="./../../../assets/images/nav/projects_wdg2a.jpg" alt="Flowers" class="round-corner-full-width">
              </picture>
            <h2 class="text-uppercase pt-4 pb-0"><i class="fa fa-address-book"></i> onezerodesigns@gmail.com</h2>
            <p>+91-9875570749</p>
        </div>
    </div>
</div>
<div class="container mt-4 mb-4">
	<div class="page-title"><i class="fa fa-id-card-o"></i> {{maintitle}}</div> 
  
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2 class="text-uppercase pt-4 pb-0"><i class="fa fa-id-card-o"></i> {{subtitle[0]}}</h2>
            <p>I feel really grateful for these companies, for their project.</p>
            <p class="bluesec">
                <img [src]="projectdetailsimagepath + img.image" *ngFor="let img of companyImages" alt="img.alt" class="p-1 round-corner" />
            </p>

            <h2 class="text-uppercase mt-4 pt-4 pb-0"><i class="fa fa-anchor"></i> {{subtitle[1]}}</h2>
            <p>Mouse hover on certificate image to see it properly clean.</p>
            <p class="bluesec-cert">
                <img [src]="projectdetailsimagepath + img.image" *ngFor="let img of certificateImages" alt="img.alt" class="p-1 col-xl-3 round-corner filter col-md-4 col-xs-12" />
            </p>
        </div>
    </div>
</div>