/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap-scss/bootstrap-grid.scss';
@import '../node_modules/bootstrap-scss/bootstrap.scss';



$regSize: 20px;
$redColor: 'red';
$whiteColor: #fff;
$blackColor: #000;

$random: random(12) + 16;

@mixin classforicon($regSize) {
    width: $regSize;
    height: $regSize;
    display: inline-block;
    vertical-align: middle;
    margin-right: $regSize;
}


body {
    color: #fff;
    background-color: #000;
    .loader {
        padding: 5vh 0;
        position: fixed;
        background: rgba(0,0,0,0.8) url(./assets/images/loader.gif) top center no-repeat;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        text-align: center;
        font-size: 1rem;
        &.hide {
            display:none;
        }
        
    }
    .page-title {
        font-weight: 500;
        padding-top: $regSize;
        padding-bottom: $regSize;
        color: rgb(102,100,101);
        text-transform: uppercase;
    }
    .page-sub-title {
        font-size: 1rem;
        font-weight: 100;
    }
    .card-title {
        font-size: 1.5rem;
        font-weight: 100;
        color: rgb(235,124,0);
        &.pd {
            padding: $regSize;
        }
    }
    .navbar-light {
        &.bg-light {
            .navbar-nav {
                a {
                    color: lighten($blackColor, 0.5);
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .navbar-dark {
        &.bg-dark {
            .navbar-nav {
                a {
                    color: lighten($whiteColor, 0.5);
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    
    
    .my_work {
        background-image: url('./assets/images/svg/work.svg');
        background-clip: 25% 50%;
        @include classforicon(20px);
    }
    .my_links {
        background-image: url('./assets/images/svg/skills.svg');
        background-clip: 25% 50%;
        @include classforicon(20px);
    }
    .my_resume {
        background-image: url('./assets/images/svg/resume.svg');
        background-clip: 25% 50%;
        @include classforicon(20px);
    }
	.aliesbx {
		
		p & h4 {
		padding: 0;
		margin:0;
		}
		.latest {
		position: relative;
		&::before {
			position: absolute;
            left: 0px;
            top: 0;
            content: "LATEST";
            background: $blackColor;
            color: $whiteColor;
            z-index: 1;
            font-size: 0.4rem;
            padding: 2px 30px;
            box-shadow: 0 0 3px #666;
		}
		}
    }
    .carousel-caption {
        position: absolute;
        right: 0;
        bottom: 0px;
        left: 0;
        background: rgba(0,0,0,0.5);
    }
    .card-wrapper {
        height: 500px;
        overflow: scroll;
        .blackinstuction {
            position: absolute;
            left: 0;
            top: 20px;
            z-index: 2;
            background: rgba(0,0,0,0.8);
            padding: $regSize;
            width: 100%;
            color: $whiteColor;
            display: none;
        }
        &:hover {
            .blackinstuction {
                display: block;
            }
        }
    }
    .carousel-custom {
        margin-bottom:100px;
        width:100%;
        background:#333;
        padding: 2*$regSize;
    }
	.card {
        background: #000;
        color: #fff;
        margin-top: 1rem;
		.card-body {
            &.home-only {
                height: 343px;
                overflow: hidden;
                &:hover {
                    overflow: scroll;
                }                
            }		
        .box {
            /* border: 1px solid #eee;*/
            padding: $regSize;
            .box-title {
                font-weight: 200;
            }
            .box-text {
                color: lighten($blackColor, 50%)
            }
        }
		}
		box-shadow: 0 0 1px #ccc;
		&:hover {
		box-shadow: 0 0 6px #ccc;
		}
    }
    .my-footer-wrap {
        width: 100%;
        padding: 10px;
        .my-footer {
            width:100%;
            background:#fff;
            .wid-50 {
                width:50%
            }
        }
    }
    
.footer-style {
    background: rgba(255,255,255,0.05);
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
    /*
    bottom: 0;
    left: 0;
    */ 
    
}

.jumbotron {
    background-color: transparent;
    border: 1px solid #333;
}

@media screen and (min-width:20px) and (max-width: 700px) {
    
    .picsum-img-wrapper img,
    .widthsetimg {width:100%;}
   
}


@media screen and (min-width:701px) and (max-width: 1100px) {
    
    .picsum-img-wrapper img,
    .widthsetimg {width:100%}
    
}
}
@media screen and (min-width:1101px) and (max-width: 4000px) {
    
    .picsum-img-wrapper img,
    .widthsetimg {width:auto}
    
}


@keyframes animate-image {
    0% {transform: scale(1.12);}
    50% {transform: scale(1);}
    100% {transform: scale(1.12);}
}
@-webkit-keyframes animate-image {
    0% {transform: scale(1.12);}
    50% {transform: scale(1);}
    100% {transform: scale(1.12);}
}

